* {
    box-sizing: border-box;
}


.homepage{
    background: url(../assets/imgs/snap2.jpeg) no-repeat center / cover fixed;
    color: white;
     /* background-repeat: no-repeat;  */
    /* background-size: 100%; */
    /* object-fit: contain;  */
    height: 100vh;
    /* background-repeat: no-repeat; */
    object-fit: fill;

  
  
}


.header-container {
    display: flex;
    justify-content: space-between;
    background: rgba(252, 252, 249, 0.445);

}

.homepage-txt{
text-align: center;
padding: 60px;
}

.homepage-txt h1{
    font-size: 70px;
    padding: 40px;
    margin: 0;
}

.homepage-txt p{
    text-align: center;
    font-size: 20px;
    /* padding: 60px; */
}

.mail-icon{
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: rgba(252, 252, 249, 0.445);
    border: 1px solid blue;
    border-radius: 10px;
}


