* {
    box-sizing: border-box;
}


.homepage{
    background: url(../assets/imgs/snap2.jpeg) no-repeat center / cover fixed;
     /* background-repeat: no-repeat;  */
    /* background-size: 100%; */
    /* object-fit: contain;  */
    height: 100vh;
    /* background-repeat: no-repeat; */
    object-fit: fill;

  
  
}

.homepage-txt{
text-align: center;
padding: 80px;
}

.homepage-txt h1{
    font-size: 80px
}

.mail-icon{
    height: 100px;
    width: 100px;
    padding: 10px;
    background-color: rgba(252, 252, 249, 0.445);
    border: 1px solid blue;
    border-radius: 10px;
}
