@import './apps/note/cmps/note-modal.css';
@import './apps/note/cmps/note-add.css';
@import './apps/note/cmps/note-img.css';
@import './app-header.css';
@import './apps/note/cmps/note-editor.css';
@import './apps/note/cmps/note-filter.css';
@import './apps/note/cmps/note-preview.css';
@import './apps/note/cmps/note-list.css';
@import './home-page.css';
@import './apps/mail/pages/compose-mail.css';
@import './apps/mail/pages/mail-app.css';
@import './apps/mail/cmps/mail-list.css';
@import './apps/mail/cmps/mail-preview.css';
@import './apps/mail/cmps/mail-detail.css';
@import './apps/mail/cmps/mail-filter.css';
@import './apps/mail/cmps/folder-bar.css';
@import './apps/note/cmps/note-todos.css';
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-family: questrial, sans-serif;
}

body {
    margin: 0;
}


/* button {
    border: 1px solid #bbb;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5rem;
    outline: none;
}

input, select {
    padding: 0.5rem;
    outline: none;
} */


/* font family */

@font-face {
    font-family: questrial;
    src: url(../assets/fonts/Questrial/Questrial-Regular.ttf);
}


/* Helpers------ */

.flex {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* width: 100%; */
}

.flex-column {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.bar-list .mail-list {
    align-self: baseline;
}


/* defult border shadow and hover  */

.bsh {
    list-style: none;
    text-decoration: none;
    color: lightskyblue;
    border: lightslategrey 1px solid;
    border-radius: 5px;
}

.bsh:hover {
    color: rgb(162, 168, 173);
    border: lightskyblue 1px solid;
    box-shadow: 1px 1px 10px 1px;
}

@media (max-width: 680px) {
    .btn-menu-mobile {
        display: flex;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .menubtn-img {
        height: 30px;
        width: 30px;
        margin-right: 80px;
        cursor: pointer;
    }
    /* .menubtn-img{
        height: 30px;
        width: 30px;
        cursor: pointer;
        margin-right: 40px;
    
    
    } */
    .main-nav {
        display: none;
    }
    .mobile-nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 60px;
        transform: translateX(100%);
        transition: .3s;
        transition-timing-function: ease-in-out;
    }
    .show {
        display: flex;
        transition: .3s;
        transition-timing-function: ease-in-out;
    }
    ul.mobile-nav {
        padding: 0;
        height: 60px;
        margin-top: 10px;
    }
    .mobile-nav a {
        width: 163px;
        height: 50px;
        color: white;
        /* margin: 20px; */
    }
    .mobile-nav li a:hover {
        background-color: white;
        color: #33be6d;
        border-radius: 0;
        padding: 0;
    }
}