.note-filter{
    display: flex;
    padding-bottom: 30px;
}

.note-filter input{
    height: 60px;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    border: lightskyblue 1px solid

}