


.pinned {
    grid-row-start: 1;
    grid-row-end: 2;
    /* align-self: left; */
    /* background-color: blue; */
}

.pinned .pin-btn {
background-color: lightpink;
}

.trash, .pin, .copy, .edit{
height: 15px;
width: 15px;
}

.note-editor{
    padding: 10px;
}

.note-editor button{
    background-color: inherit;
    border: none;
    /* border: 1px solid lightslategray; */
    border-radius: 3px;
    cursor: pointer;
}

.create-color {
    cursor: pointer;
}

.note-editor button:hover{
background-color: lightskyblue
}


.painter {
    display: none;
}

  .paint{
    height: 15px;
    width: 15px;
    background-color: inherit;
    /* border: 1px solid lightslategray; */
    border-radius: 3px;
    cursor: pointer;
  }

  .paint:hover{
    background-color: lightskyblue;
    padding: 10px;

  }