


.pinned {
    grid-row-start: 1;
    grid-row-end: 2;
    /* align-self: left; */
    /* background-color: blue; */
}

.pinned .pin-btn {
background-color: palegreen;
}

.trash, .pin, .copy, .edit{
height: 15px;
width: 15px;
}

.note-editor{
    padding: 10px;
}