.note-filter{
    display: flex;
    margin: 1rem;
    /* padding-bottom: 30px; */
}

.note-filter input{
    width: 270px;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
    border: lightskyblue 1px solid

}

