* {
    box-sizing: border-box;
}


.note-preview{
    border: 1px solid lightskyblue;
    border-radius: 10px;
    /* background-color: lightskyblue; */
    width: 200px;
    height: 200px;
    text-align: center;
   
}