.mail-folder-bar {
    color: lightslategray;
    font-size: smaller;
    text-align: center;
    /* padding: 0 10px 10px 10px 10px; */
}

.compose-btn {
    padding: 5px;
    border-radius: 10px;
    font-size: large;
}

.compose-btn:hover {
    box-shadow: 1px 1px 10px 1px;
}

.compose-btn a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.currFolder {
    background-color: lightskyblue;
    font-weight: bolder;
}

.folders * {
    padding: 25px;
}


/* button {
    padding: 25px;
} */