.mail-folder-bar {
    color: lightslategray;
    font-size: smaller;
    flex-grow: 1;
    text-align: center;
}

.compose-btn {
    width: 15vh;
    height: 5vh;
    border-radius: 25px;
    font-size: x-large;
}

.compose-btn a {
    text-decoration: none;
    color: rgb(119, 119, 119);
}