* {
    box-sizing: border-box;
}

.mail-list {
    flex-grow: 5;
}

.mail-list ul {
    padding: 0;
    margin: 0;
}

.mail-list button {
    font-size: 20px;
}

.mail-list ul li {
    display: flex;
    flex-flow: rows nowrap;
    justify-content: space-between;
    border: lightskyblue 1px solid;
    background-color: white;
    padding: 5px;
}

.mail-list ul li:hover {
    border: lightskyblue 1px solid;
    background-color: rgba(238, 239, 240, 0.719);
    /* box-shadow: 1px 1px 10px 1px; */
}

.prev-buttons {
    display: flex;
    flex-flow: row nowrap;
}

.prev-buttons button{
    background-color: aliceblue;
    cursor: pointer;

}

.prev-buttons button:hover{
    background-color: lightgrey;

}

.unread {
    font-weight: bolder;
}

.star button{
    background-color: white;
}

.star{
/* border: 1px solid yellow;
background-color: rgb(248, 248, 190); */
border: 1px solid lightgray;
background-color:lightpink;
}