* {
    box-sizing: border-box;
}

.mail-preview {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.mail-preview .sent-at {
    align-self: flex-end;
}

.mail-preview .sent-at {
    right: 0px;
}