* {
    box-sizing: border-box;
}

.mail-list {
    flex-grow: 5;
}

.mail-list ul {
    padding: 0;
}

.mail-list ul li {
    display: flex;
    flex-flow: rows nowrap;
    justify-content: space-between;
    border: lightgray 1px solid;
    background-color: rgba(197, 233, 255, 0.719);
}

.prev-buttons {
    display: flex;
    flex-flow: row nowrap;
}

.unread {
    font-weight: bolder;
}

.star {
    background-color: rgba(255, 183, 50, 0.822);
}