* {
    box-sizing: border-box;
}

.mail-preview {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.mail-preview .prev-content {
    width: 65%;
    text-align: left;
}

.mail-preview .prev-buttons {
    width: 10%;
    display: flex;
    flex-flow: row nowrap;
}

.mail-preview .sent-from {
    flex-grow: 1;
    text-align: left;
}

.mail-preview .body {
    color: rgb(161, 159, 159)
}


/* .mail-preview .sent-at {
    align-self: flex-end;
} */