* {
    box-sizing: border-box;
}

.mail-list ul li {
    display: flex;
    flex-flow: rows nowrap;
    justify-content: space-between;
    border: lightgray 1px solid;
}

.unread {
    font-weight: bold;
}