* {
    box-sizing: border-box;
}

.mail-preview {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.mail-preview .prev-content {
    width: 65%;
    text-align: left;
}

.mail-preview .sent-from {
    width: 25%;
    text-align: left;
}

.mail-preview .sent-at {
    align-self: flex-end;
}

.mail-preview .sent-at {
    right: 0px;
}